<?xml version="1.0" encoding="utf-8"?>
<Categories>
  <msginfo>
    <msg>autoUpdate</msg><!-- 是否要自动更新lua脚本？(每天凌晨自动检查更新) -->
    <ans>true</ans><!-- 注意！如果是想自己写lua脚本，请把这个设置项改为false，不然脚本会被清空覆盖 -->
  </msginfo>
  <msginfo>
    <msg>adminqq</msg>
    <ans>none</ans><!-- 管理员qq号码，用来管理词条和设置词条权限 -->
  </msginfo>
  <msginfo>
    <msg>trace.moe</msg><!-- 可选，看图搜番的key，需求大的时候要用到 -->
    <ans></ans>
  </msginfo>
  <msginfo>
    <msg>saucenao</msg><!-- saucenao搜图的key，请自己申请 -->
    <ans></ans>
  </msginfo>
  <msginfo>
    <msg>tuling</msg><!-- 图灵机器人的key，请自己去官网申请 -->
    <ans></ans>
  </msginfo>
</Categories>
