<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="1.6.2" targetFramework="net45" developmentDependency="true" />
  <package id="Fody" version="2.2.1.0" targetFramework="net45" developmentDependency="true" />
  <package id="KeraLua" version="1.0.24" targetFramework="net45" />
  <package id="LibGit2Sharp" version="0.24.1" targetFramework="net45" />
  <package id="LibGit2Sharp.NativeBinaries" version="1.0.205" targetFramework="net45" />
  <package id="LuaTask" version="1.0.5" targetFramework="net45" />
  <package id="ModuleInit.Fody" version="1.7.0.0" targetFramework="net45" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net45" />
  <package id="NLua" version="1.4.26" targetFramework="net45" />
  <package id="SimpleTCP" version="1.0.24" targetFramework="net45" />
  <package id="Unity" version="5.8.6" targetFramework="net45" />
</packages>