<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="4.0.0" targetFramework="net40" />
  <package id="Fody" version="5.0.5" targetFramework="net40" developmentDependency="true" />
  <package id="KeraLua" version="1.0.7" targetFramework="net45" />
  <package id="LibGit2Sharp" version="0.24.1" targetFramework="net45" />
  <package id="LibGit2Sharp.NativeBinaries" version="1.0.205" targetFramework="net45" />
  <package id="ModuleInit.Fody" version="2.0.0" targetFramework="net40" requireReinstallation="true" />
  <package id="NLua" version="1.4.14" targetFramework="net45" />
  <package id="SimpleTCP" version="1.0.24" targetFramework="net45" />
  <package id="Unity" version="5.8.6" targetFramework="net40" requireReinstallation="true" />
</packages>